.DS_Store
.editorconfig
.git
.gitignore
.prettierignore
.prettierrc
.vscode/**
.vscodeignore
*.log
*.tsbuildinfo
*.vsix
CHANGELOG.md
coverage/**
eslint.config.mjs
jsconfig.json
typings/**
webpack.config.js
