*.log
*.tsbuildinfo
*.vsix
.DS_Store
.editorconfig
.git
.gitignore
.npmrc
.nvmrc
.prettierignore
.vscode/**
.vscodeignore
coverage/**
eslint.config.mjs
jsconfig.json
prettier.config.mjs
typings/**
webpack.config.mjs
