.*ignore
.*rc
.DS_Store
.editorconfig
.git
.github
.gitignore
.husky
.nvmrc
.prettierignore
.tmp
.vscode/settings.json
.vscodeignore
*.config.mjs
*.log
*.tsbuildinfo
*.vsix
*config.json
AGENTS.md
CHANGELOG.md
CLAUDE.md
docs
